@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    font-family: 'Caveat', cursive, sans-serif;
    font-size: 30px;
    display: grid;
    grid-template-columns: 30% 70%;
}

#left-bar {
    grid-column: 1 / 2;
    background-color: rgb(250, 186, 199);
    grid-row: 1 / 2;
}

header,
main {
    grid-column: 2 / 3;
}

header .div-header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

#search-bar-left input {
    width: 400px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid pink;
    outline: none;
    padding-left: 10px;
}

#search-bar-left i {
    font-size: 20px;
}

#search-bar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}
