@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    font-family: 'Caveat', cursive, sans-serif;
    font-size: 30px;
    display: grid;
    grid-template-columns: 30% 70%;
}

#left-bar {
    grid-column: 1 / 2;
    background-color: rgb(250, 186, 199);
    grid-row: 1 / 2;
}

header,
main {
    grid-column: 2 / 3;
}
